.custom-progress-bar p {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.custom-progress-bar p i {
    margin-right: 5px;
}

.custom-progress-bar .progress-bar {
    margin-bottom: 24px;
}