.skills-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.skills-container .item {
    width: 100%;
}

.btn-container {
    text-align: center;
}