.info-container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: space-between;
}

.info-container .user-photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid;
}

@media screen and (max-width: 479px) {
    .info-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}