---
import { fetchGithubData } from "../../data/fetch-github-data";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const user = await fetchGithubData();
---

<div class="info-container">
  <figure class="user-photo">
    <img alt={user.login} src={user.avatar_url} />
    <figcaption>{user.login}</figcaption>
  </figure>
  <div class="user-info">
    <h2>{t("about.title")}</h2>
    <p>
      {t("about.description")}
    </p>

    <ul>
      <li>
        <a rel="noreferrer" target="_blank" href={user.html_url}>Github</a>
      </li>
      <li>
        <a
          rel="noreferrer"
          target="_blank"
          href="https://www.linkedin.com/in/mathkruger/">Linkedin</a
        >
      </li>
      <li>
        <a
          rel="noreferrer"
          target="_blank"
          href="mailto:ms-kruger@hotmail.com">E-mail</a
        >
      </li>
      <li>
        <a rel="noreferrer" target="_blank" href="https://wa.me/5511959472884"
          >Whatsapp</a
        >
      </li>
    </ul>
  </div>
</div>

<style>
  .info-container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .info-container .user-photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid;
  }

  @media screen and (max-width: 479px) {
    .info-container {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  }
</style>
