---
import pack from "../../../package.json";
import { getLangFromUrl, getLangUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<hr />
<footer>
  <p>{new Date().getFullYear()} - {t("footer.version")}: {pack.version}</p>
  <a href={getLangUrl(lang, "#")}>
    {t("footer.top")}
  </a>
</footer>
<hr />

<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer p {
    margin-bottom: 0;
  }

  @media screen and (max-width: 666px){
    footer {
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
