---
import Layout from '../layouts/Layout.astro';
import Header from './partials/Header.astro';
import About from './partials/About.astro';
import Skills from './partials/Skills.astro';
import Projects from './partials/Projects.astro';
import Education from './partials/Education.astro';
import Experiences from './partials/Experiences.astro';
import Footer from './partials/Footer.astro';
---

<Layout title="Matheus Kruger Dev">
  <Header />

  <div class="container">
    <About />
    <br />
    <Skills />
    <br />
    <Projects />
    <br />
    <Education />
    <br />
    <Experiences />
    <br />
    <Footer />
  </div>
</Layout>
