<button id="theme-toggle" class="toggle-button btn btn-default btn-ghost">
  <span class="dark">🌙</span>
  <span class="light">☀️</span>
</button>

<script is:inline>
  const bodyElement = document.body;

  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    
    return 'light';
  })();

  if (theme === 'light') {
    bodyElement.classList.remove('dark');
  } else {
    bodyElement.classList.add('dark');
  }

  window.localStorage.setItem('theme', theme);

  const handleToggleClick = () => {
    bodyElement.classList.toggle("dark");

    const isDark = bodyElement.classList.contains("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  }

  document.getElementById("theme-toggle").addEventListener("click", handleToggleClick);
</script>

<style>
  .toggle-button {
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 12px;
    line-height: 12px;
  }

  .toggle-button .light {
    display: none;
  }

  :global(.dark) .toggle-button .light {
    display: unset;
  }

  :global(.dark) .toggle-button .dark {
    display: none;
  }

  @media screen and (max-width: 666px) {
    .toggle-button {
      width: 25px;
    }
  }
</style>