---
import { getLangFromUrl } from "../../i18n/utils";
import en from "../../images/us.png";
import br from "../../images/br.png";
import { Image } from "astro:assets";

const lang = getLangFromUrl(Astro.url);

const flagsToShow = {
  "pt-BR": en,
  "en": br,
};
---

<a
  id="language-selector"
  style={{
    width: "30px",
    height: "25px",
    padding: "0 5px",
  }}
  class="btn btn-ghost"
>
  <Image
    src={flagsToShow[lang]}
    alt="Change Language"
    style={{
      width: "25px",
      height: "20px"
    }}
  />
</a>

<script is:inline>
  const languageSelector = document.querySelector("a#language-selector");
  const currentUrl = location.href;

  console.log(languageSelector, currentUrl);

  if (currentUrl.includes("en")) {
    const url = currentUrl.replace("/en", "/pt-BR");
    languageSelector.href = url;
  } else if (currentUrl.includes("pt-BR")) {
    const url = currentUrl.replace("/pt-BR", "/en");
    languageSelector.href = url;
  }
</script>
